@mixin linkButton(){
  display: inline-block;
  cursor: pointer;
  font-size: 33px;
  font-family: "Bebas Neue", sans-serif;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  transition: 250ms ease-in-out;
  flex-wrap: nowrap;
}

p{
  color: white;
}

.projectContainer{
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 100vh;
  @media (max-width: 1600px) {
    height: 250vh;
  }
  .projectContainer__CTA{
    border-left: 8px solid white;
    margin-left: 7%;
    padding: 270px 30px;
    width: 29%;
    background-color: black;
    .projectContainer__CTA--title1{
      display: inline-block;
      margin: 5px 0 -30px;
      font-size: 170px;
      font-family: "Bebas Neue", sans-serif;
      -webkit-text-stroke: 2px white;
      color: black;
      @media (max-width: 1600px) {
        font-size: 120px
      }
    }
    .projectContainer__CTA--title2{
      font-family: "Poppins", sans-serif;
      font-size: 31px;
      margin-bottom: -30px;
    }
    .projectContainer__CTA--title3{
      font-family: "Poppins", sans-serif;
      font-size: 20px;
    }
    .projectContainer__CTA--link{
      margin: 100px 0 20px 3%;
      @include linkButton();
      color: black;
      border: 3px solid black;
      background-color: white;
      &:hover{
        color: white;
        background-color: black;
        border: 3px solid white;
      }
    }
  }

  .projectContainer__works{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 4rem 7rem 0;
    .projectContainer__works--link{
      @include linkButton();
      color: white;
      border: 3px solid white;
      background-color: black;
      &:hover{
        color: black;
        background-color: white;
        border: 3px solid black;
      }
    }
  }
}

.projectContainer__cardContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 20px;
  margin: 110px 5% 0;
}

.projectCard {
  margin: 30px;
  width: 370px;
  height: 275px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: black;
  overflow: hidden;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;

  .projectCard__image {
    width: 100%;
    height: 30%;
    object-fit: cover;
  }

  .projectCard__info {
    padding: 15px;
  }

  .projectCard__title {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif;
  }

  .projectCard__description {
    font-size: 1em;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }

  .projectCard__icons {
    display: flex;
    gap: 10px;
    font-size: 1.1em;
  }

  .projectCard__link {
    display: flex;
    justify-content: right;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: indianred;
    transition: color 0.3s ease;

    &:hover {
      color: #0056b3;
    }
  }
  &:hover{
    transform: scale(1.05) !important;
    opacity: 0.8 !important;
  }
}