p {
  color: white; }

.projectContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 100vh; }
  @media (max-width: 1800px) {
    .projectContainer {
      height: auto; } }
  @media (max-width: 1350px) {
    .projectContainer {
      flex-direction: column; } }
  .projectContainer .projectContainer__CTA {
    margin-left: 7%;
    padding: 270px 30px;
    width: 29%;
    background-color: black; }
    @media (max-width: 1350px) {
      .projectContainer .projectContainer__CTA {
        width: 80%;
        padding: -100px 30px 270px 30px; } }
    .projectContainer .projectContainer__CTA .projectContainer__CTA--title1 {
      display: inline-block;
      margin: 5px 0 -30px;
      font-size: 170px;
      font-family: "Bebas Neue", sans-serif;
      -webkit-text-stroke: 2px white;
      color: black; }
      @media (max-width: 1650px) {
        .projectContainer .projectContainer__CTA .projectContainer__CTA--title1 {
          font-size: 120px; } }
      @media (max-width: 1350px) {
        .projectContainer .projectContainer__CTA .projectContainer__CTA--title1 {
          font-size: 90px;
          margin: 20px 0 -15px; } }
    .projectContainer .projectContainer__CTA .projectContainer__CTA--title2 {
      font-family: "Poppins", sans-serif;
      font-size: 31px;
      margin-bottom: -30px; }
    .projectContainer .projectContainer__CTA .projectContainer__CTA--title3 {
      font-family: "Poppins", sans-serif;
      font-size: 20px; }
    .projectContainer .projectContainer__CTA .projectContainer__CTA--link {
      margin: 100px 0 20px 3%;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 33px;
      font-family: "Bebas Neue", sans-serif;
      height: 40px;
      text-align: center;
      padding: 10px 20px;
      transition: 250ms ease-in-out;
      flex-wrap: nowrap;
      color: black;
      border: 3px solid black;
      background-color: white; }
      @media (max-width: 1350px) {
        .projectContainer .projectContainer__CTA .projectContainer__CTA--link {
          font-size: 25px; } }
      .projectContainer .projectContainer__CTA .projectContainer__CTA--link:hover {
        color: white;
        background-color: black;
        border: 3px solid white; }
      @media (max-width: 1350px) {
        .projectContainer .projectContainer__CTA .projectContainer__CTA--link {
          margin: 50px 0 20px 3%; } }
  .projectContainer .projectContainer__works {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 4rem 7rem 0; }
    .projectContainer .projectContainer__works .projectContainer__works--link {
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      font-size: 33px;
      font-family: "Bebas Neue", sans-serif;
      height: 40px;
      text-align: center;
      padding: 10px 20px;
      transition: 250ms ease-in-out;
      flex-wrap: nowrap;
      color: white;
      border: 3px solid white;
      background-color: black; }
      @media (max-width: 1350px) {
        .projectContainer .projectContainer__works .projectContainer__works--link {
          font-size: 25px; } }
      .projectContainer .projectContainer__works .projectContainer__works--link:hover {
        color: black;
        background-color: white;
        border: 3px solid black; }

.projectContainer__cardContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 20px;
  margin: 110px 5% 0; }
  @media (max-width: 1350px) {
    .projectContainer__cardContainer {
      width: 80%;
      margin: -260px 5% -200px; } }

.projectCard {
  text-decoration: none;
  margin: 30px;
  width: 370px;
  height: 275px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: black;
  overflow: hidden;
  color: white;
  cursor: pointer;
  transition: transform 0.2s; }
  @media (max-width: 1350px) {
    .projectCard {
      width: 100%;
      border: 3px solid white;
      padding-bottom: 10px; } }
  .projectCard .projectCard__image {
    width: 100%;
    height: 30%;
    object-fit: cover; }
  .projectCard .projectCard__info {
    padding: 15px; }
  .projectCard .projectCard__title {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Bebas Neue", sans-serif; }
  .projectCard .projectCard__description {
    font-size: 1em;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif; }
  .projectCard .projectCard__icons {
    display: flex;
    gap: 10px;
    font-size: 1.1em; }
  .projectCard .projectCard__link {
    text-decoration: none;
    display: flex;
    justify-content: right;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: indianred;
    transition: color 0.3s ease; }
    .projectCard .projectCard__link:hover {
      color: #0056b3; }
  .projectCard:hover {
    transform: scale(1.05) !important;
    opacity: 0.8 !important; }

/*# sourceMappingURL=projects.css.map */
