@mixin linkButton(){
  display: inline-block;
  cursor: pointer;
  font-size: 33px;
  font-family: "Bebas Neue", sans-serif;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  transition: 250ms ease-in-out;
  flex-wrap: nowrap;
  @media (max-width: 1350px) {
    font-size: 25px;
  }
}

@mixin cards(){
  transition: 250ms ease-in-out;
  background: black;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.aboutCard {
  @include cards;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    transform: scale(0.97) !important;
    opacity: 0.8 !important;
  }
  @media (max-width: 1350px) {
    border: 3px solid white;
    background-image: none !important;
  }
}

p{
  color: white;
}

.aboutContainer{
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 100vh;
  @media (max-width: 1350px) {
    flex-direction: column;
    height: auto;
    background-color: black;
    width: 81%;
  }
  .aboutContainer__CTA{
    margin-left: 7%;
    padding:  270px 30px 270px 30px;
    width: 29%;
    background-color: black;
    @media (max-width: 1350px){
      width: 100%;
      padding:  0 30px 270px 30px;
    }
    .aboutContainer__CTA--title1{
      display: inline-block;
      margin-bottom: -40px;
      font-size: 150px;
      font-family: "Bebas Neue", sans-serif;
      -webkit-text-stroke: 2px white;
      color: black;
      @media (max-width:1650px){
        font-size: 130px;
        margin: 10px 0 -20px;
      }
      @media (max-width: 1350px) {
        font-size: 90px;
      }
    }
    .aboutContainer__CTA--title2{
      font-family: "Poppins", sans-serif;
      font-size: 31px;
      margin-bottom: -30px;
    }
    .aboutContainer__CTA--title3{
      font-family: "Poppins", sans-serif;
      font-size: 20px;
    }
    .aboutContainer__CTA--link{
      margin: 100px 0 30px 3%;
      @include linkButton();
      color: black;
      border: 3px solid black;
      background-color: white;
      &:hover{
        color: white;
        background-color: black;
        border: 3px solid white;
      }
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }

  .aboutContainer__works{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    margin: 0 4rem 7rem 0;
    .aboutContainer__works--link{
      @include linkButton();
      color: white;
      border: 3px solid white;
      background-color: black;
      &:hover{
        color: black;
        background-color: white;
        border: 3px solid black;
      }
    }
  }

  &__boxes {
    display: grid;
    margin: 280px 0 0 70px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    width: 50%;
    height: 400px;
    font-family: "Poppins", sans-serif;
    @media (max-width: 1350px) {
      width: 100%;
      margin: -180px 0 -180px 15%;
      height: 300px;
    }

    &--big {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }

    &--medium {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--small {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      grid-gap: 10px;
    }

    &--card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 2px 5px;
    }

    &--card-text {
      margin: 0;
      color: white;
      @media (max-width: 1350px) {
        text-align: left;
        margin: -6px;
      }
    }

    &--card-icon {
      color: white;
      @media (max-width: 1350px) {
        display: none;
      }
    }
  }
}

.ExpTitle{
  font-size: 25px;
}

.ExpDesc {
  font-size: 15px;
  opacity: 0.6;
}

.collapsible {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
  color: black;
}

.collapsible-content {
  padding: 10px;
  color: black;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  display: none;
  transition: all 200ms ease-in-out;
}

.collapsible-content.open {
  max-height: 1000px;
  display: block;
}

.CVlink {
  display: inline-block;
  justify-self: center;
  font-weight: bold;
  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  transition: 250ms ease-in-out;
  &:hover{
    transform: scale(0.95);
    background-color: lightgray;
  }
}

.CompetencesSoustitre{
  font-weight: bold;
  background-color: white;
  color: black;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

//Carte compétences
.Card1 {
  background-image: url("src/assets/robotarm.webp");
  background-size: 40% 45%;
}

//Carte Moi
.Card2 {
  background-image: url("src/assets/boulemagique.webp");
  background-size: 25% 55%;
}

//Carte Exp
.Card3 {
  background-image: url("src/assets/graduation.webp");
  background-size: 40% 45%;
}

//Carte CV
.Card4 {
  background-image: url("src/assets/pen.webp");
  background-size: 40% 45%;
}